[Unit]
Description=Runs PHS File Server
After=mongod.service

[Service]
ExecStart=/usr/bin/python3 /home/phs/CAPSTONE-PHS-Machine/phsmachine_web/public/fserver.py
User=phs

[Install]
WantedBy=multi-user.target