opencv-python 
numpy
pandas
matplotlib
seaborn
Django
djangorestframework
django-filter
markdown 
tensorflow==2.8.0
tensorflow-hub
tensorflow-gpu
tensorflow-io
pillow
scikit-learn
keras
wandb
jupyterlab
notebook
voila
albumentations
tqdm
urllib3
flask
flask-socketio